.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


/* shared styles */

.zero-margin{
  margin: 0px;
}
.display-flex{
  display: flex;
}

.dark-1{
  color: #131313;
}
.dark-2{
  color: #424242;
}

.dark-3{
  color: #727272;
}

.primary-color{
  color: #FF900E;
}

section{
  margin-top: 50px;
}

.primary-button{
background-color: #FF900E;
border: none;
border-radius: 5px;
padding: 15px;
color: white;
font-size: 1rem;
font-weight: 500;
}


header{
  background-color: rgba(255, 144, 14, 0.1);
}
/* navbar styles */
.brand-logo{
  font-size: 2rem;
  font-weight: 800;
}
.navbar{
  justify-content: space-between;
  align-items: center;
max-width: 1440px;
margin: 0px auto;
}
.nav-links-container> ul > li{
list-style: none;
margin-right: 30px;
}
.nav-links-container> ul > li > a{
  text-decoration: none;
}


/* banner-styles */
.banner-information{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.banner-title{
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 00px;
}

.banner-description{
  margin-top: 10px;
  font-size: 1rem;
  font-weight: lighter;
}
.banner-container{
  max-width: 1440px;
  margin: 0px auto;
}

.banner-image>img{
  width: 70%;
}
.banner-image{
  margin: 20px auto;
  text-align: center;
}



/* main-start */

main{
  max-width: 1000px;
  margin: 0 auto;
}

.teams{
  align-items: center;
}

.team-image{
  max-width: 300px;
}

.team-images-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  margin: 30px 40px;
}

span#quick-list-text {
  font-size: 2.5rem;
  font-weight: 600;
}
span#of-our-text {
  font-size: 45px;
}
span#feature-text {
  font-size: 3rem;
  font-weight: 800;
}
p.team-features-description {
  font-size: 1rem;
  font-size: .8rem;
  font-weight: lighter;
}



/* <!-- features-list-styles-   --> */
.feature-list {
  margin-right: 30px;
}

h1.feature-list-title {
  padding: 20px;
  font-size: 3rem;
  font-weight: 800;
  border-left: 2px solid;
  border-left: 5px solid #FF900E;
  border-radius: 10px;
}
.feature-list-description{
  font-weight: lighter;
  font-size: .8rem;
}

h4.feature-item-title {
  font-size: 1rem;
}
p.feature-item-description {
  font-weight: lighter;
  font-size: .8rem;
}


.feature-list-container-image>img{
  width: 100%;
}
  
section.feature-list-container{
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}
.feature-item1 {
  margin: 15px;
  padding: 15px;
  box-shadow: 0 4 4 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ten-years{
  color: white;
  width: 300px;
  border: none;
  background-color: #FF900E;
  border-radius: 10px;
  /* padding: 10px; */
}

.ten-years h1{
  font-size: 3rem;
  margin-bottom: 0px;
}

.ten-years h3{
  font-size: 1.5rem;
  margin-top: 0px;
}
button.ten-years {
  margin-left: -45px;
  margin-top: -50px;
}


/* all-facts-styles */
.facts-title{
  font-size: 3rem;
  font-weight: 800;
}
.facts-description{
  font-size: .9rem;
  font-weight: lighter;
}

.all-facts{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 100px;
  margin-top: 100px;
  text-align: center;
}

.fact-card{
  border: 2px solid rgba(255, 144, 14, .5);
  padding: 20px;
  border-radius: 10px;
}

.fact-card img{
  max-width: 45px;
}
.fact-count{
  font-size: 2rem;
  margin: 5px 0px;
}
.fact-slogan{
  font-size: .8rem;
  font-weight: lighter;
}


/* Websites-sponsors-details-styles */
.sponsors-container{
  margin-top: 105px;
  text-align: center;
}
.sponsors-title{
  font-size: 3rem;
  font-weight: 800;
  
}
.sponsors-description {
  font-weight: lighter;
  font-size: .9rem;
}

.sponsor-all-images{
  margin-top: 50px;
  display: grid;
  gap: 155px;
  grid-template-columns: repeat(5,1fr);
}

.sponsor-images{
 text-align: center;
}
.sponsor-image{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


.sponsor-image{
 width: 100px;
}

.footer-container{
  margin-top: 90px;
  background-color: #FFF4E7;
}

.footer-text{
  text-align: center;
  font-size: .8rem;
  font-weight: lighter;
  padding: 20px;
}

/* responsiveness media query*/

@media screen and (max-width:576px) {
  .navbar,.nav-links,.teams,.feature-list-container{
    flex-direction: column;
  }
  .team-images-container{
    grid-template-columns: repeat(1,1fr);
  }
  .team-features {
    margin: 0 20px;
}
button.ten-years {
  margin: 5px 40px;
}

.all-facts{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  column-gap: 3px;
  margin-top: 30px;
}
.facts-container{
  text-align: center;
}
.sponsor-all-images{
  margin-top: 50px;
  display: grid;
  justify-items: center;
  gap: 10px;
  grid-template-columns: repeat(3,1fr);
}

}